body {
    background-color: skyblue;
}

.margin-top-responsive {
    padding-top: 100px!important; /* ajuste si besoin : 3rem / 5rem */
}

/* Marge basse uniquement en mobile */
@media (max-width: 1200px) {
    .padding-top-creation-site-responsive {
        padding-top: 150px!important; /* ajuste si besoin : 3rem / 5rem */
    }
}


